<html>
<style>
  body {
    margin: auto;
    text-align: center;
    background-color: #142941;
    width: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .bodycontent {
    background-color: whitesmoke;
    border: none;
    padding-bottom: 10px;
  }
</style>

<body>
  <div class="bodycontent">
    <form action="../calculate/" method="post" id="calculate_form">
      {% csrf_token %}
      "How many dry cups of ingredients? " <input type="text" name="batch">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

</html>